img{
	max-width: 100%;
}
.gallery{
	/* background-color: #dbddf1; */
	padding-top: 38px;
	padding-bottom: 70px;
}
.gallery img{
	background-color: #ffffff;
	padding: 0px;
	width: 100%;
	/* box-shadow: 0 0 15px rgba(0,0,0,0.3); */
	cursor: pointer;

}
#gallery-modal .modal-img{
	width: 100%;
}